    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=1250, initial-scale=0.0')
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='theme-color', content='#000')
    meta(name='description', content='')
    meta(name='author', content='Patrick David')
    // Favicons
    link(rel='icon shortcut', href='trade/assets/img/logo.png', sizes='16x16', type='image/png')
    link(rel='icon', href='trade/assets/img/logo.png', sizes='32x32', type='image/png')
    link(rel='icon', href='trade/assets/img/favicon-48.png', sizes='48x48', type='image/png')
    link(rel='icon', href='trade/assets/img/favicon-62.png', sizes='62x62', type='image/png')
    link(rel='icon', href='trade/assets/img/favicon-96.png', sizes='96x96', type='image/png')
    // Canonical
    link(rel='canonical', href='index.html')
    // Open Graph
    meta(property='og:image', content='')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:url', content='')
    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='')
    meta(name='twitter:creator', content='')
    meta(name='twitter:url', content='')
    meta(name='twitter:title', content='')
    meta(name='twitter:description', content='')
    meta(name='twitter:image', content='')
    // Custom css
    link(rel='stylesheet', href='trade/assets/css/style.css')
    script(src="//code.tidio.co/46brrft64n7fhlzs0ueisft4vk1evthf.js", async)