doctype html
html(lang='en')
  // Mirrored from Globalfortunetradefx.com/?a=about by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Apr 2023 20:40:32 GMT
  head
    title
      | Globalfortunetradefx.com
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=1250, initial-scale=0.0')
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='theme-color', content='#000')
    meta(name='description', content='')
    meta(name='author', content='Patrick David')
    // Favicons
    link(rel='icon shortcut', href='trade/assets/img/logo.png', sizes='16x16', type='image/png')
    link(rel='icon', href='trade/assets/img/logo.png', sizes='32x32', type='image/png')
    link(rel='icon', href='trade/assets/img/favicon-48.png', sizes='48x48', type='image/png')
    link(rel='icon', href='trade/assets/img/favicon-62.png', sizes='62x62', type='image/png')
    link(rel='icon', href='trade/assets/img/favicon-96.png', sizes='96x96', type='image/png')
    // Canonical
    link(rel='canonical', href='index.html')
    // Open Graph
    meta(property='og:image', content='')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:url', content='')
    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='')
    meta(name='twitter:creator', content='')
    meta(name='twitter:url', content='')
    meta(name='twitter:title', content='')
    meta(name='twitter:description', content='')
    meta(name='twitter:image', content='')
    // Custom css
    link(rel='stylesheet', href='trade/assets/css/style.css')
    script(src="//code.tidio.co/46brrft64n7fhlzs0ueisft4vk1evthf.js", async)
  body
    // Main Wrap
    #main-wrap
      // Header & Menu
      // class: fixed, bg, white, transparent
      header#header.transparent--fixed
        // padding-sm, padding-md, padding-lg
        .wrap-header--padding-lg
          nav.main-navigation
            // Header Logo
            // class: height-sm, height-md, height-lg
            #logo.height-lg
              a.navbar-brand(href='/')
                picture.colored
                  img(src='trade/assets/img/logo.png', alt='Logo')
            // END Header Logo
            // Menu
            #main-menu(aria-expanded='false', role='navigation')
              .menu-holder(data-hidden='lg')
                ul
                  li
                    a(href='/') Home
                  li
                    a(href='#') About
                  li
                    a(href='/faqs') FAQ&apos;s
                  li
                    a(href='/contact-us') Contact Us
                  li
                    a(href='/login') Login
              .cta
                a.btn--medium--round--border(href='/signup') Signup
              .menu-button(data-visible='lg')
                .icons
                  span.bar.bar-1
                  span.bar.bar-2
                  span.bar.bar-3
            #mobile-menu(data-visible='lg', aria-expanded='false', role='navigation')
              // class: -bg
              .mobile-wrap
                // class: -dotted, -border
                .main-links--border.col-12
                  ul
                    li
                      a(href='/') Home
                    li
                      a(href='#') About
                    li
                      a(href='/faqs') FAQ&apos;s
                    li
                      a(href='/contact-us') Contact Us
                    li
                      a(href='/login') Login
                    li
                      a(href='/signup') Signup
            // END Menu
      // END Header & Menu
      // Page Header
      // class: image, round, hfixedlg, hfixedmd, hfixedsm
      .page-header--image(data-overlay='')
        .imagebg(style='background-image: url(trade/assets/img/about-header%402x.jpg);')
        .container
          .row
            .col-12.col-lg-6
              .sectiontitle-element--light
                h1 About Our Platform
              // Breadcrumbs
              .list-element--text--breadcrumbs--arrow--light
                ul
                  li
                    a(href='index-2.html') Home
                  li About Us
              // END Breadcrumbs
      // END Page Header
      // Page Content
      .page-content
        // Intro
        section(data-padding='')
          .container
            .row(data-aos='fade-up', data-padding='xstop')
              .col-12.col-lg-6
                .sectiontitle-element
                  span.toptitle Our Mission
                  h2
                    | Our mission is to make sure that Poverty is Eradicated with the help of our Expert Traders
              .col-12.col-lg-6
                p.big
                  | Globalfortunetradefx is made up of Trading expertists with many years of Trading experience. We help you invest your money with 0% risk and 100% Profits within the given period of time...
        // END Intro
        // Full Width Row
        section.fullrow-element--image(data-margin='xstop', data-bg='template')
          .image(style='background-image: url(trade/assets/img/team-corporate%402x.jpg);')
          .main-wrapper
            .inner-wrapper
              .sectiontitle-element
                h2 SIT BACK, RELAX AND WATCH YOUR FINANCES GROW!
                p
                  | Globalfortunetradefx is a leading global manager of financial investments. We have learned from every deal and market cycle to build client relationships that have crossed generations, offering a diverse and truly global investment portfolio.
                p
                  | With a work ethic that is both entrepreneurial in spirit and institutional in practice, and a policy of investment that we seek to make both responsible and profitable, we aim to generate strong performance for our valued investors around the world.
        // END Full Width Row
        // Partners
        section.aos-init.aos-animate(data-aos='fade', data-padding='bottom')
          .container
            .row
              .col-12
                .sectiontitle-element
                  h2 Payment Options
                .logo-element
                  ul
                    li
                      a(href='#')
                        img(data-unveil='', src='#', data-src='trade/assets/img/logo-placeholder-1@2x.png', alt='')
                    li
                      a(href='#')
                        img(data-unveil='', src='#', data-src='trade/assets/img/logo-placeholder-2@2x.png', alt='')
                    li
                      a(href='#')
                        img(data-unveil='', src='#', data-src='trade/assets/img/logo-placeholder-3@2x.png', alt='')
                    li
                      a(href='#')
                        img(data-unveil='', src='#', data-src='trade/assets/img/logo-placeholder-4@2x.png', alt='')
                    li
                      a(href='#')
                        img(data-unveil='', src='#', data-src='trade/assets/img/logo-placeholder-5@2x.png', alt='')
        // END Partners
        // CTA Section
        section(data-aos='fade', data-padding='xstop')
          .container
            .row
              .col-12
                .ctabox-element--center--round--light
                  .text
                    h2 EARN 8% AFFLIATES COMMISSION
                    p Globalfortunetradefx is a registered and licenced company in United Kingdom
                    a.btn--big--border--light--round(href='images/cert222.png', target='_self') VIEW INCOPORATION CERTIFICATE
        // END: CTA Section
      // END: Page Content
      // Footer
      footer#footer(data-aos='fade', data-bg='white')
        .container
          .row.main-wrapper
            .col-12.col-md-4
              .logo-footer
                // -small, -medium, -big
                #logo.height-lg
                  a.navbar-brand(href='/')
                    picture.colored
                      img(src='trade/assets/img/logo.png', width='190', height='90', alt='Logo')
                p
                  | We provide fastest trading using modern technologies. No delays in order executions and most accurate quotes. Our trading platform is available around the clock and on weekends
            .col-12.col-md-6.offset-md-2
              .row
                .col-6.col-md-6
                  .list-element--text
                    h6 Pages
                    ul
                      li
                        a(href='/') Home
                      li
                        a(href='#') About
                      li
                        a(href='/faqs') FAQ&apos;s
                      li
                        a(href='/terms') Terms
                      li
                        a(href='/contact-us') Contact Us
                .col-6.col-md-6
                  .info-footer
                    h6 Contact
                    p
                      | Location: Enterprise House, 2 Pass Street, Oldham, Manchester, United Kingdom, OL9 6HZ.
                      br
                      br
                      |  support@Globalfortunetradefx.com
                      br
                    //
                      <div class="social-element--small">
                      <ul>
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="far fa-envelope"></i></a></li>
                      </ul>
                      </div>
          .row
            .col-12.down.border
              .wrapper.justify-content-md-between.align-items-md-center
                .link
                  .list-element--text--inline
                    ul
                      li
                        a(href='/login') Login
                      li
                        a(href='/signup') Register
                .text
                  p
                    | &#xFFFD; #{new Date().getFullYear()} -
                    a.simple(href='#', target='_blank') Globalfortunetradefx.com
      // END: Footer
    // END: Main Wrap
    // Scripts
    script(src='trade/assets/js/master-dist.js')
    // END Scripts
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-164617531-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
      dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-164617531-1');