doctype html
html(lang='en')
  // Mirrored from globalfortunetradefx.com/?a=faq by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Apr 2023 20:40:34 GMT
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no')
    title
      | globalfortunetradefx.com
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='theme-color', content='#000')
    meta(name='description', content='')
    meta(name='author', content='Patrick David')
    // Favicons
    link(rel='icon shortcut', href='trade/assets/img/logo.png', sizes='16x16', type='image/png')
    link(rel='icon', href='trade/assets/img/logo.png', sizes='32x32', type='image/png')
    link(rel='icon', href='trade/assets/img/favicon-48.png', sizes='48x48', type='image/png')
    link(rel='icon', href='trade/assets/img/favicon-62.png', sizes='62x62', type='image/png')
    link(rel='icon', href='trade/assets/img/favicon-96.png', sizes='96x96', type='image/png')
    // Canonical
    link(rel='canonical', href='index.html')
    // Open Graph
    meta(property='og:image', content='')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:url', content='')
    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='')
    meta(name='twitter:creator', content='')
    meta(name='twitter:url', content='')
    meta(name='twitter:title', content='')
    meta(name='twitter:description', content='')
    meta(name='twitter:image', content='')
    // Custom css
    link(rel='stylesheet', href='trade/assets/css/style.css')
    script(src="//code.tidio.co/46brrft64n7fhlzs0ueisft4vk1evthf.js", async)
  body
    // Main Wrap
    #main-wrap
      // Header & Menu
      // class: fixed, bg, white, transparent
      header#header
        // padding-sm, padding-md, padding-lg
        .wrap-header--padding-md
          nav.main-navigation
            // Header Logo
            // class: height-sm, height-md, height-lg
            #logo.height-lg
              a.navbar-brand(href='/')
                picture.colored
                  img(src='trade/assets/img/logo.png', alt='Logo')
            // END Header Logo
            // Menu
            #main-menu(aria-expanded='false', role='navigation')
              .menu-holder(data-hidden='lg')
                ul
                  li
                    a(href='/') Home
                  li
                    a(href='/about') About
                  li
                    a(href='#') FAQ&apos;s
                  li
                    a(href='/contact-us') Contact Us
                  li
                    a(href='/login') Login
              // Menu Cta
              .cta
                a.btn--medium--round--border(href='/signup') Signup
              // END Menu Cta
              // Hamburger Menu
              .menu-button(data-visible='lg')
                .icons
                  span.bar.bar-1
                  span.bar.bar-2
                  span.bar.bar-3
              // END: Hamburger Menu
            // Mobile Menu
            #mobile-menu(data-visible='lg', aria-expanded='false', role='navigation')
              // class: -bg
              .mobile-wrap
                // class: -dotted, -border
                .main-links--border.col-12
                  ul
                    li
                      a(href='/') Home
                    li
                      a(href='/about') About
                    li
                      a(href='#') FAQ&apos;s
                    li
                      a(href='/contact-us') Contact Us
                    li
                      a(href='/login') Login
                    li
                      a(href='/signup') Signup
            // END Mobile Menu
      // END Header & Menu
      // FAQ
      section(data-padding='md')
        .container
          .row(data-aos='fade-up')
            .col-12
              .sectiontitle-element--center
                h2 FAQ
                p
                  | Browse our customer service directory and receive answers to the most common questions.
          .row(data-aos='fade-up', data-aos-delay='200', data-padding='smtop')
            .col-12.col-lg-8.offset-lg-2
              .accordion-element--border
                ul
                  li
                    .title IS DEPOSIT SAFE AND SECURE?
                    .icon
                    .description
                      p
                        | Yes depositing money to your account is absolutely safe, private and secure. All transactions are communicated using Secure Socket Layer(SSL) technology, ensuring that your personal information is safe.
                  li
                    .title HOW FAST IS MY MONEY CREDITED AFTER MAKING DEPOSIT ?
                    .icon
                    .description
                      p
                        | Making deposit by using e-currencies happens right away. If you make Bitcoin deposit it takes from 1 confirmations ( about 5 minutes ).
                  li
                    .title HOW DOES CAPITAL TRADE EARN PROFITS FOR ITS MEMBERS?
                    .icon
                    .description
                      p
                        | globalfortunetradefx.com is involved in cloud mining, professional forex investment and management , shares and stocks.&nbsp; This enables us to earn profits in form of bitcoin and liquid capital without mining hardware .
      // END FAQ
    // END Page Content
    // CTA Section
    section(data-aos='fade', data-padding='xstop')
      .container
        .row
          .col-12
            .ctabox-element--center--round--light
              .text
                h2 EARN 8% AFFLIATES COMMISSION
                p globalfortunetradefx is a registered and licenced company in United Kingdom
                a.btn--big--border--light--round(href='trade/images/cert222.png', target='_self') VIEW INCOPORATION CERTIFICATE
    // END: CTA Section
    // END: Page Content
    // Footer
    include _footer
    // END: Footer
    // END: Main Wrap
    // Scripts
    script(src='trade/assets/js/master-dist.js')
    // END Scripts
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-164617531-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
      dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-164617531-1');
    
  // Mirrored from globalfortunetradefx.com/?a=faq by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Apr 2023 20:40:34 GMT